/*.elements__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.elements__like:hover {
  opacity: .5;
}*/

.elements__like {
  display: flex;
  flex-direction: column;
  align-items: center;
}