.popup__error {
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  margin: 5px 0 13px;
  min-height: 25px;
  max-width: 358px;
  visibility: hidden;
}

@media screen and (max-width:720px) {
  .popup__error {
    max-width: 238px;
  }
}